* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
}
/* set background color to silver */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: silver;
}

   
.portfolio-header { 
    margin: 0px;
    height: 120px;
    width: 100%;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: slategrey;
    color:floralwhite;

}
.card {
  flex: 1 0 200px;
  padding: 10px;
  text-align: center;
  border-style:ridge;
  border-width: 5px;
}

.card header {
  padding: 20px;
  background: #13293d;
  color: #fff;
}



header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 0px;
}

a {
    color: #281010;
    text-decoration: wavy;
    font-size: 20;
    font-weight: 900;

}

p {
    font-size: 24px;
}




/* header {
    width: 100%;
    border: 30px;
    padding: 50px;
    display: flex;
    align-items: center;
    background-image: src="./assets/images/dp.jpg";
    background-size: cover;
    
       



*/


/* body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:darkslategray;
    background: silver;
    margin: 0;
    background-image: ('./assets/images/dp.jpg')
}



}


/*Make cards responsive*/

